<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="United">
    <div class="carousel-caption">
      <h3>Manchester United</h3>
      <p>Current Position: {{positions["66"]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="City">
    <div class="carousel-caption">
      <h3>Manchester City</h3>
      <p>Current Position: {{positions["65"]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Pool">
    <div class="carousel-caption">
      <h3>Liverpool</h3>
      <p>Current Position: {{positions["64"]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[3]" alt="Chelsea">
    <div class="carousel-caption">
      <h3>Chelsea</h3>
      <p>Current Position: {{positions["61"]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[4]" alt="Ars">
    <div class="carousel-caption">
      <h3>Arsenal</h3>
      <p>Current Position: {{positions["57"]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[5]" alt="Spurs">
    <div class="carousel-caption">
      <h3>Tottenham Hotspurs</h3>
      <p>Current Position: {{positions["73"]}}</p>
    </div>
  </ng-template>
</ngb-carousel>