<div *ngIf="matches" class="container text-center">
  <h2>Gameweek {{matches[0].matchday}}</h2>
  <mat-card *ngFor="let match of matches">
    <mat-card-title>
      {{match.utcDate | date:'medium'}}
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex>
          <img src="{{match.homeTeam.crestUrl}}" alt=""> <br>{{match.homeTeam.name}} <br>Curent Position: {{match.homeTeam.position}}
        </div>
        vs
        <div fxFlex>
          <img src="{{match.awayTeam.crestUrl}}" alt=""><br> {{match.awayTeam.name}}<br>Curent Position: {{match.awayTeam.position}}
        </div>
      </div>
    </mat-card-content>
  </mat-card><br>
</div>
<div [hidden]="matches" class="spinner text-center">
  <mat-spinner></mat-spinner><h4>Loading...</h4>
</div>
<div *ngIf="morematches!=undefined" class="container text-center">
  <div *ngFor="let matchs of morematches">
    <h1>Gameweek {{matchs[0].matchday}}</h1>
    <mat-card *ngFor="let match of matchs">
      <mat-card-title>
        {{match.utcDate | date:'medium'}}
      </mat-card-title>
      <mat-card-content>
        {{match.homeTeam.name}} vs {{match.awayTeam.name}}
        {{match.homeTeam.position}} vs {{match.awayTeam.position}}
      <img src="{{match.homeTeam.crestUrl}}" alt="">
      <img src="{{match.awayTeam.crestUrl}}" alt="">
      </mat-card-content>
    </mat-card><br>
  </div> 
</div>
<div *ngIf="matches" class="text-center">
    <button mat-button (click)="loadMoreMatches()"><i class="fa fa-chevron-circle-down"></i><br>View more Matches</button>
</div>

