h2 {
    margin-top: 0.7em;
    font-family: Montserrat, Georgia, serif;
    border: 0.08em solid gold;
    background-color:black;
    color:white;
    width: 9em;
    height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%
}

mat-card {
    height:16em;
    width: 18em;
    display:inline-flex;
    margin: 1.2em;
    flex-direction: column;
    border-radius: 10%;
    background-color: rgba(0, 217, 255, 0.082);
    mat-card-title{
        font-size: 1em;
        background-color:rgb(17, 85, 85);
        border-radius:15%;
        color: rgb(208, 255, 0);
        padding: 0.2em;
        border: 0.12em solid black;
        font-family: 'Roboto', Helvetica, sans-serif;
    }
    mat-card-content{
        font-size: 1em;
        font-family: Elianto-Regular, Impact, sans-serif;
        color: rgb(11, 56, 56);
        .position {
            color: black;
            font-family: Roboto
        }
    }
}

img {
    height: 3.3em;
    width: auto;
}
.spacer{
    margin: auto ;
}

.spinner {
    width: 100%;
    height: 20em;
    mat-spinner {
        margin-top: 10em;
        margin-left: auto;
        margin-right: auto; 
    }
    h4 {
        margin: 2em auto;
    }
}