<div *ngIf="matches" class="container text-center" [@expand]>
  <h2>Gameweek {{matches[0].matchday}}</h2>
  <mat-card *ngFor="let match of matches">
    <mat-card-title>
      {{match.utcDate | date:'medium'}}
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="0.5em">
        <div fxLayout="row"
        fxLayoutGap="1em">
          <div fxFlex [routerLink]="['/teamdetails',match.homeTeam.id]" appHighlight>
            <img src="{{match.homeTeam.crestUrl}}" alt=""><br>
            <p>{{match.homeTeam.name}}</p>
          </div>
          <span>vs</span>
          <div fxFlex [routerLink]="['/teamdetails',match.homeTeam.id]" appHighlight>
            <img src="{{match.awayTeam.crestUrl}}" alt=""><br>
            <p>{{match.awayTeam.name}}</p>
          </div>
        </div>
        <div fxLayout="row"
        fxLayoutGap="1.5em">
          <div fxFlex class="position">
            <p>League Position {{match.homeTeam.position}}</p> 
          </div>
          <div fxFlex class="position">
            <p>League Position {{match.awayTeam.position}}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card><br>
</div>
<div [hidden]="matches||errMess" class="spinner text-center">
  <mat-spinner></mat-spinner><h4>Loading...</h4>
</div>
<div *ngIf="morematches!=undefined" class="container text-center">
  <div *ngFor="let matchs of morematches">
    <h2>Gameweek {{matchs[0].matchday}}</h2>
    <mat-card *ngFor="let match of matchs">
      <mat-card-title>
          {{match.utcDate | date:'medium'}}
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="0.5em">
          <div fxLayout="row"
          fxLayoutGap="1em">
            <div fxFlex [routerLink]="['/teamdetails',match.homeTeam.id]" appHighlight>
              <img src="{{match.homeTeam.crestUrl}}" alt=""><br>
              <p>{{match.homeTeam.name}}</p>
            </div>
            <span>vs</span>
            <div fxFlex [routerLink]="['/teamdetails',match.homeTeam.id]" appHighlight>
              <img src="{{match.awayTeam.crestUrl}}" alt=""><br>
              <p>{{match.awayTeam.name}}</p>
            </div>
          </div>
          <div fxLayout="row"
          fxLayoutGap="1.5em">
            <div fxFlex fxLayout class="position">
              <p>Curent Position {{match.homeTeam.position}}</p> 
            </div>
            <div fxFlex class="position">
              <p>Curent Position {{match.awayTeam.position}}</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card><br>
  </div> 
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
  <p>You're probably browsing too fast (refer to Home page: Disclaimer)</p>
  <h2>Reload Page</h2>
</div>
<div *ngIf="matches" class="text-center">
    <button mat-button (click)="loadMoreMatches()"><i class="fa fa-chevron-circle-down"></i><br>View more Matches</button>
</div>

