<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      fixedInViewport="false"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home"><i class="fa fa-home"></i> Home</a>
      <a mat-list-item routerLink="/standings"><i class="fa fa-trophy"></i>  Standings</a>
      <a mat-list-item routerLink="/schedule"><i class="fa fa-calendar"></i>  Schedule</a>
      <a mat-list-item routerLink="/teams"><i class="fa fa-users"></i>  Teams</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"><i class="fa fa-bars fa-2x"></i></mat-icon>
      </button>
      <span *ngIf="(isHandset$ | async)" class="spacer"></span>
      <a class="navbar-brand" routerLink="/home">
        <img src="/assets/images/logo.png" alt="logo" class="logo"></a>
      <div class="tools" *ngIf="!(isHandset$ | async)">
        <a routerLinkActive="highlighted" routerLink="/home"><i class="fa fa-home"></i> Home</a>
        <span class="divider">|</span>
        <a routerLinkActive="highlighted" routerLink="/standings"><i class="fa fa-trophy"></i> Standings</a>
        <span class="divider">|</span>
        <a routerLinkActive="highlighted" routerLink="/schedule"><i class="fa fa-calendar"></i> Schedule</a>
        <span class="divider">|</span>
        <a routerLinkActive="highlighted" routerLink="/teams"><i class="fa fa-users"></i> Teams</a>
      </div>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
