.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}
mat-sidenav {
  background-color: rgb(17, 85, 85);
  mat-nav-list a{
    color: white;
    font-family: Montserrat, Georgia, sans-serif;
    i{
      margin: 0 0.2em;
    }
  }
}
.sidenav .mat-toolbar {
  background-color: rgb(4, 24, 24);
  color:white;
}

mat-toolbar{
  background-color: rgb(17, 85, 85);
  height: 4rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo{
  width: 6rem;
  height: auto;
  margin: 0;
}
.hidden {
  display: none;
}
mat-toolbar a {
  font-family: Montserrat, Georgia, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}
.tools {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.fa-bars{
  color:white;
}
.spacer {
  flex: 1 1 auto;
}
.divider {
  color: aqua;
  font-size:2rem;
}
.highlighted {
  border-bottom: 0.2em solid aqua;
  z-index: 1;
  transform: scale(1.1);
  //padding-bottom: 0.5em;
}