<div class="container text-center" *ngIf="matchday && scorers">
  <h3>Current Matchday: {{matchday}}</h3>
  <mat-table [dataSource]="scorers" class="mat-elevation-z8">
    <ng-container matColumnDef="numberOfGoals">
      <mat-header-cell *matHeaderCellDef> Goals </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.numberOfGoals}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef> Club </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.team.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="player">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.player.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <br>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">Scheduled Matches</span>
      </ng-template>
      <ng-template matTabContent>
        <app-upcoming *ngIf="matchday" [matchday]='matchday'></app-upcoming>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
      <span class="tab-label">Results</span>
      </ng-template>
      <ng-template matTabContent>
        <app-results *ngIf="matchday" [matchday]="matchday"></app-results>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<div [hidden]="matchday && scorers || errMess" class="spinner text-center">
  <mat-spinner></mat-spinner><h4>Loading...</h4>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
  <p>You're probably browsing too fast (refer to Home page: Disclaimer)</p>
  <h2>Reload Page</h2>
</div>
