  <div class="overall">
    <div class="carousel_container">
      <app-carousel [positions]="placing"></app-carousel>
    </div>
  </div>
  
  

<table class="table table-dark">
  <thead>
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Played</th>
      <th>Win</th>
      <th>Loss</th>
      <th>Draw</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of standings">
      <td>{{item.position}}</td>
      <td [routerLink]="['/teamdetails',item.team.id]" appHighlight><img src="{{item.team.crestUrl}}"> <span>{{item.team.name}}</span></td>
      <td>{{item.playedGames}}</td>
      <td>{{item.won}}</td>
      <td>{{item.lost}}</td>
      <td>{{item.draw}}</td>
      <td>{{item.points}}</td>
    </tr>
  </tbody>
</table>
