.container{
    width:100%;
}
.card {
    margin: 10px 10px;
    height: 18em;
    width: 12em;
    background-color: burlywood;
}
img {
    height: 10em;
    width: auto;
    margin: 1em auto;
}
.card-body {
    width:100%;
}
.card-title {
    margin: 0 auto;
    font-size: 1.2em;
}