<div *ngIf="teams" class="container">
  <div class="row justify-content-center">
    <div class="col-xs-1-12"  *ngFor="let team of teams">
      <div class="card" [routerLink]="['/teamdetails',team.id]" appHighlight>
        <img src="{{team.crestUrl}}" alt="">
        <div class="card-body text-center">
          
          <h3 class="card-title">{{team.shortName}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="teams" class="spinner text-center">
  <mat-spinner></mat-spinner><h4>Loading...</h4>
</div>