body {
    margin: 0
}

.highlight {
    background-color: black;
    border: 1px solid black;
    z-index: 1;
    transform: scale(1.01);
    cursor: pointer;
}

body {
    background-color:black;
}
@font-face {
    font-family: Elianto-Regular;
    src: url(assets/font/Elianto-Regular.otf) format("opentype");
  }
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';