body {
    margin: 0;
    background-color:black;
}
.spinner{
    color: white;
}

.highlight {
    border: 1px solid black;
    border-radius: 10%;
    z-index: 1;
    transform: scale(1.05);
    cursor: pointer;
}
mat-dialog-container.mat-dialog-container {
    padding:0;
  }

body {
    background-color:black;
}
.search-menu {
    width:900px;
}

@font-face {
    font-family: Elianto-Regular;
    src: url(assets/font/Elianto-Regular.otf) format("opentype");
  }
@font-face{
    font-family: Montserrat;
    src: url(assets/font/Montserrat.ttf) format("opentype");
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';