<form [formGroup]="stateForm" (ngSubmit)="search()" (keydown.tab)="$event.stopPropagation()" #sform="ngForm">
    <mat-form-field (click)="$event.stopPropagation(); false;">
      <input type="text" matInput placeholder="Navigate To" formControlName="stateGroup" [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name">
              {{name}}
            </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="buttonDisable" (click)="search()"><i class="fa fa-search"></i></button>
  </form>