<div class="container">
  <h1 class="text-center">Under Construction</h1>
  <h2>Disclaimer:</h2>
  <p>This site is merely a personal project for me to gain experience in using 
    Angular and by no means meant to provide completely accurate and up-to-date 
    information on the Premier League.
  </p>
  <p>
    As I'm only using a free-tier subscription to <a href="https://www.football-data.org/">https://www.football-data.org/</a>,
    The website can only send 10 requests per minute, thus you may encounter error
    messages if you browse through the site too fast.
  </p>
</div>
<div class="container form-container">
  <app-feedback></app-feedback>
</div>