.container {
    background-color: white;
    border-radius: 5%;
    padding: 1em 5em;
    margin-top: 1em;
}
.form-container {
    padding: 1.5em 0;
    background-color:hsl(120, 100%, 97%);
    border-radius: 2%;
}
h1 {
    margin: 1em auto;
}